<p>Hello <%= @discussion.user.first_name %></p>

<p>You've got a comment for your discussion:

<p>For project: <%= @discussion.project.title %>, discussion: <%= @discussion.title %></p>

<p>Comment: <%= @comment.body %>, by user <%= @my_user.full_name %></p>

<p>Regards,</p>

<p>Pm tool web team</p>