<div id="<%= dom_id(comment) %>">
  <li>
    <%= comment.body %>  ||
    <%= stdDate(comment.created_at) %>  ||<!-- stdDate is defined in application_helper.rb -->
    Comment by: <%= comment.discussion.user.first_name %>
    <%#= " | Comment by: #{comment.user_first_name}  " %> 
    
    <%= link_to "Update comment", discussion_comment_path(discussion.id, comment.id), method: :patch, class: "btn btn-sm btn-info", remote: true %>
    <%= link_to "Delete comment", discussion_comment_path(discussion.id, comment.id), method: :delete, data: {confirm: "delete this comment for real?"}, class: "btn btn-sm btn-danger", remote: true %>  <!-- turn on link_to AJAX instead of HTML -->
  </li>
</div>