<div class="well" id="<%= dom_id(comment) %>">
  <%= comment.body %>  
  <%= stdDate(comment.created_at) %>  <!-- stdDate is defined in application_helper.rb -->

  <%= " | Comment by: #{comment.user_first_name}  " %> 
  <%= link_to "Delete comment", discussion_comment_path(discussion.id, comment.id), method: :delete, data: {confirm: "delete this comment for real?"}, class: "btn btn-sm btn-danger", remote: true %>  <!-- turn on link_to AJAX instead of HTML -->
</div>