<% if @task.errors.any? %>
	<ul>
		<% @task.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @task do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :due_date %>
		<%= f.date_field :due_date, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :status %>
		<%= f.check_box :status, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
