<% if @project.errors.any? %>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @project, html: { class: "short_form"}  do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :due_date %>
		<%= f.date_field :due_date, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :projectmembers_ids %>
		<%= f.member_check_boxes :projectmember_id, User.all, :id, :full_name %>
	</div>
	<br>

	<%= f.submit class: "btn btn-primary" %>
<% end %> 
