<h1>Index all projects </h1>

<!-- search bar input form -->
<%= form_tag(projects_path, method: "get") do %>
  <div class="form-group">
    <%= label_tag(:q, "Search project:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  </div>
<% end %>

<!--
<%# if @entire_projects.length == 0 %>
	<em>No project found!</em>
<% #else %>
-->
  <ul>
    <% @entire_projects.each do |p| %>
      <li>
        <h2><%= link_to p.title, p %></h2>
        <%= p.description %><br>
        <%= p.due_date %>
      </li>
    <% end %>
  </ul>


<hr>Total count = <%= @total_count %>
page: <% for i in 0..(@total_count / 5) do %>
  <% if @page_count == i %>
    <%= i+1 %>
  <% else %>
    <%= link_to "#{i+1}", projects_path(:pg => i+1) %>
  <% end %>
<% end %>