<h1><%= @project.title %></h1>
<p>Description: <%= @project.description %><br>
   Due date: <%= @project.due_date %></p>
<%= link_to "Edit project", edit_project_path(@project), class: "btn btn-lg btn-info" %>
<%= link_to "Delete project", project_path(@project), class: "btn btn-lg btn-danger", method: :delete, data: {confirm: "are you sure?"} %>
<%= link_to "Create New Task", new_project_task_path(@project), class: "btn btn-lg btn-primary", method: :get %>


<h2>Tasks list table:</h2>
<div class="row well">
  <div class="col-md-6 tasks">
    <h3>Unfinished tasks:</h3>
    <% @project.not_done_tasks.each do |t| %>
      <%= render partial: "/tasks/task", locals: { task: t } %>
    <% end %>
  </div>
  <div class="col-md-6 tasks">
    <h3>Done tasks:</h3>
    <% @project.done_tasks.each do |t| %>
      <%= render partial: "/tasks/task", locals: { task: t } %>
    <% end %>
  </div>
</div>


<hr><h2>Create a Discussion:</h2>
<div class="discussion-form">
  <%= render "/discussions/form" %>  
</div>

<h2>Discussions:</h2>  <!-- print all discussions -->
<div class="discussions">
  <% @project.discussions.each do |dis| %>
    <%= render partial: "/discussions/discussion", locals: { discussion: dis } %>
  <% end %>
</div>


<!-- btn, btn-sm, btn-md, btn-lg, btn-primary, btn-info, btn-warning, btn-danger -->