<!DOCTYPE html>
<html>
	<head>
	  <title>wxu PM tool</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid">
			<ul class="nav nav-pills">
			  <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
			  <li role="presentation"><%= link_to "About", about_path %><Pli>
			  <li role="presentation"><%= link_to "New Project", new_project_path %></li>
			  <li role="presentation"><%= link_to "Projects Index", projects_path %></li>
			  <li role="presentation"><%= link_to "New Task", new_task_path %></li>
			  <li role="presentation"><%= link_to "Tasks Index", tasks_path %></li>
			</ul>

			<div class="btn-group" role="group">
			  <%= link_to "Home", root_path, type: "button", class: "btn btn-default" %>
			  <%= link_to "About", about_path, type: "button", class: "btn btn-default" %>
			  <%= link_to "Index", root_path, type: "button", class: "btn btn-default" %>
			</div>

			<% flash.each do |name, msg| %>
				<% if name=="notice" %>
					<%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
				<% elsif name=="alert" %>
					<%= content_tag :div, msg, class: "alert alert-warning", role: "alert" %>
				<% elsif name=="error" %>
					<%= content_tag :div, msg, class: "alert alert-danger", role: "alert" %>
				<% else %>
					<%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
				<% end %>
			<% end %>

			<%= yield %>
			
		</div>
	</body>
</html>
